@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List Of Blogs</h1>
   
</div>
<div class="blog-post" id="blog1">
    <h2>ASP.Net MVC</h2>
    <p class="author">By scott@gmail.com</p>
    <p class="date">Date:10-Mar-2022</p>
    <p class="subject">Subject:MS.Net</p>
    <p class="url"><a class="btn btn-primary" href="https://devblogs.microsoft.com/dotnet/category/aspnet/">https://devblogs.microsoft.com/dotnet/category/aspnet/</a></p>
</div>

<div class="blog-post" id="blog2">
    <h2>MS-SQL Server</h2>
    <p class="author">By tiger@gmail.com</p>
    <p class="date">Date:15-Jul-2022</p>
    <p class="subject">Subject:RDBMS</p>
    <p class="url"><a class="btn btn-primary" href="https://cloudblogs.microsoft.com/sqlserver/">https://cloudblogs.microsoft.com/sqlserver/</a></p>
</div>

<div class="blog-post" id="blog3">
    <h2>ASP.Net Web API</h2>
    <p class="author">By scott@gmail.com</p>
    <p class="date">Date:18-Mar-2022</p>
    <p class="subject">Subject:MS.Net</p>
    <p class="url"><a class="btn btn-primary" href="https://devblogs.microsoft.com/dotnet/tag/asp-net-web-api/">https://devblogs.microsoft.com/dotnet/tag/asp-net-web-api/</a></p>
</div>
<style>
    .blog-post {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
}

.author, .date, .subject {
  margin-bottom: 8px;
}

.url {
  margin-top: 16px;
}

a {
  color: #0066cc;
  text-decoration: none;
}
</style>
